**/node_modules
docs

packages/graphql-request
packages/operation
packages/react-hooks
packages/schema

packages/api/build
packages/api/badges
packages/api/coverage
packages/api/tests
npm-debug.log
yarn-error.log

.idea
.vscode
.env
